<h3>Schedule a meeting</h3>

<div class="box-plain">
I am a full stack Engineer with experience of working in Startups (including my own). Need my help OR want to discuss anything around my area of expertise? Feel free to schedule a meeting. Its free. I offer paid consultation as well. </div>

<!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/gaurav-khanna/30min" style="min-width:320px;height:630px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
<!-- Calendly inline widget end -->
