---
layout: page
title: Android Blogs
subtitle: Let's master Android development
---
<ul class="grid-one">
{% include material_card.html title="A complete guide on Java-to-Kotlin" description="A one stop destination for Java developers who want to learn Kotlin. This series will enable you to use Kotlin and make..."
   url="/blogs/programming/java-to-kotlin/"
  imgcss="md-card_image_java_to_kotlin"
%}
</ul>

<ul class="grid-two">
{% include material_card.html title="Everything about Android Bundle" description="Have you heard of Android Bundle delivery and dynamic features? In this article, we will ..."
   url="/blogs/android/all-about-bundle/"
  imgcss="md-card_image_all_about_bundle"
%}

{% include material_card.html title="Android UI-UX Tips and Tricks" description="In this article we will learn some tips to develop UI faster and better..."
 url="/blogs/android/mastering-ui-ux-tips/"
imgcss="md-card_image_mastering_ui_ux"
 %}

</ul>

<ul class="grid-two">
{% include material_card.html title="A beginner guide to Android watch app (wear 2.0)" description="In this article we will learn the basics and some tips on how to develop your first Android watch app. We understand the pain of ..."
 url="/blogs/android/android-wear/basics-of-android-wear-watch/"
imgcss="md-card_image_android_wear"
 %}

 {% include material_card.html title="A beginner guide to Android build files" description="No matter you are novice OR experienced developer, sometimes build files structure in Android becomes confusing. Lets simplify it ..."
 url="/blogs/android/build-system/"
imgcss="md-card_image_build_system"
 %}
</ul>

<ul class="grid-two">

{% include material_card.html title="Mastering Android Handler " description=" Handler is an amusing concept in Android, It makes thread communincation easy and simple. We will understand it in depth and learn some tips and tricks. We will see how it is associated with ..."
 url="/blogs/android/mastering-android-handler/"
imgcss="md-card_image_mastering_handler"
 %}

{% include material_card.html title="Mastering Android Services in 2018" description="In this article we will learn what and why for Android services and we will discuss in detail Android 8.0 changes to service layer ..."
 url="/blogs/android/mastering-android-service/"
imgcss="md-card_image_mastering_service"
 %}

</ul>

<ul class="grid-two">


 {% include material_card.html title="Mastering Android themes" description="In this series you will learn about Android styling and themes. This post was published in Android weekly and it is well accepted on our Medium page with aprx 3k upvotes."
 url="/blogs/android/mastering-android-themes"
imgcss="md-card_image_mastering_theme"
cta="Try App"
 %}


  {% include material_card.html title="Mastering Android Context " description="Context is lifeline of any Android App. In this series we will learn about various ways you use context and how to avoid memory leaks. We will see what is difference between activity context, application context..."
  url="/blogs/android/mastering-android-context"
 imgcss="md-card_image_mastering_context"
  %}
</ul>
